<h1>Tanks</h1>

<ul>
    <% @tanks.each do |tank| %>
        <li><%= tank.name %> - <%= tank.unit.name %></li>
        <% tank.crewmembers.each do |crew| %>
            <ul><%=link_to crew.full_name, crewmember_path(crew.id)%></ul>
        <% end %>
    <% end %>
</ul>