<h1>Units</h1>

<ul>
    <% @units.all.each do |unit| %>
        <li><%= unit.name %></li>
        <% unit.tanks.each do |tank| %>
            <% if tank.name != "unassigned" %>
                <ul><%=link_to tank.name, tank_path(tank.id)%></ul>
            <% end %>
        <% end %>
    <% end %>
</ul>